    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                
				<p style="text-align:center;">
					<img src="/img/JulianNg.png" height="400" class="img-responsive">
				</p>
				<h1>About Julian Ng</h1>
				<p>
				Julian is currently pursuing a bachelor degree in audio. Julian Ng has always been fascinated by the live production scene. He has gotten involved with drama productions, musical, and concerts since he was of the age of thirteen. As with others, he started on the simplest audio consoles and has made his way up to a fully-fledge digital console.
					By studying audio, Julian hopes to expand his knowledge in this industry. His willinginess to learn has allowed him to learn beyond the classroom. 
				</p>
                <p>
				Outside of audio, Julian also have experience lighting. Starting out from drama productions, he has made his way up to small scale concerts as a lighting operator. He has also worked as a lighting technician for even bigger events.
				</p>
                
				
            </div>
        </div>
    </section>
